// Place all the styles related to the fishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    font-size: 35px;
    font-family: "Times New Roman", Times, serif;
}


body {

  background-image: url("knitting250px.png");
  text-align:  left;
  text-shadow: 1px 1px #808080;
}


